## Deliverable 3. Create a Travel Itinerary Map.

In [83]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import dir_key

# Configure gmaps
gmaps.configure(api_key=dir_key)

In [84]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../../World-Weather-Analysis/Weather_Database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,2,Vaini,TO,298.24,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,3,Dalby,AU,291.54,light rain,-27.1833,151.2667,Kobbers Motor Inn Dalby
2,5,Sri Aman,MY,298.18,moderate rain,1.2376,111.4621,Seri Simanggang Hotel
3,10,Lompoc,US,291.80,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
4,12,Atuona,PF,298.38,light rain,-9.8000,-139.0333,Villa Enata

In [85]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} K</dd>
<dt>Weather type</dt><dd>{Weather description} K</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]


locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

In [86]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df["City"]=="Maua"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Maua"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Sao Sebastiao"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Arraial Do Cabo"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Sao Joao Da Barra"]

In [87]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
start=tuple((start[0,0],start[0,1]))
end = vacation_end[["Lat","Lng"]].to_numpy()
end = tuple((end[0,0],end[0,1]))
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop1=tuple((stop1[0,0],stop1[0,1]))
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop2=tuple((stop2[0,0],stop2[0,1]))
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
stop3=tuple((stop3[0,0],stop3[0,1]))
end

(-23.6678, -46.4614)

In [88]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


my_travel = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(my_travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,495,Maua,BR,292.04,overcast clouds,-23.6678,-46.4614,Hotel Capriccio Mau치
1,520,Sao Sebastiao,BR,292.88,overcast clouds,-23.7600,-45.4097,Hotel Recanto dos P치ssaros
2,87,Arraial Do Cabo,BR,294.13,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
3,358,Sao Joao Da Barra,BR,295.20,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas

In [90]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} K</dd>
<dt>Weather type</dt><dd>{Weather description} K</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [91]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
df=pd.DataFrame({"A": [1, 2], "B": [3, 4]})
df

   A  B
0  1  3
1  2  4

In [22]:
df.to_numpy()

array([[1, 3],
       [2, 4]])